h1 {
    color: rgb(5, 160, 64);
    text-align: center;
    border-bottom: 1px solid white;
}

p {
    color: rgb(5, 160, 64);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.custom-navbar {
    position: relative;
}
.navstyle {
    border-bottom: 5px double rgb(199, 208, 255);
    border-top: 5px double rgb(199, 208, 255);
    background-color: rgb(0, 0, 0);
    color: rgb(199, 208, 255);
}

.navbar-brand{
    font-size: 40px;
    font-family: 'Monoton', cursive;
}

.navbar-brand,.nav-link{
    color: rgb(5, 160, 64);
}

.bg {
    background-image: url("https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 100%;
   
}

.menu {
    margin-left: 670px;
    font-family: 'Audiowide', cursive;
}

.fixed {
    width: 100%;
    z-index: 2;
}

.container1 {
    width: 80%;
    max-width: 1080px;
    background-color: black;
    margin: 0, auto;
    margin-top: 80px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-style: dotted dashed dotted dashed;
    border-color: white;
}



.container2 { 
    width: 80%;
    max-width: 1080px;
    background: transparent;
    margin: 0, auto;
    margin-top: 10px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.container3 {
    width: 80%;
    max-width: 1080px;
    background-color: black;
    margin: 0, auto;
    margin-top: 30px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-style: dotted dashed dotted dashed;
    border-color: white;
}

@media only screen and (max-width: 576px) {
    .container1, .container2, .container3 {
        width: 100%;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(5, 160, 64);
    text-align: center;
    border-top: 5px double rgb(199, 208, 255);
}


#border1 {
    border-right: 2px groove rgb(199, 208, 255);  
    
}

#portfolio {
    margin-right: 103px;
    background-color: black;
}

#propic {
    height: auto;
    width: 500px;
    
}

@media only screen and (max-width: 500px) {
    #propic {
        width: 98%;
        margin: 0 auto;
    }
}

.project-pics {
    width: 400px;
    height: auto;
    margin: 0 auto;
    align: center;
    border: 5px solid black;
    margin-top: 10px;
}

#cat-game {
    background-color: black;
    position: absolute;
    width: 400px;
    bottom: 50px;
    text-align: center;
}

#lamp-guide {
    background-color: black;
    position: absolute;
    width: 400px;
    bottom: 50px;
    text-align: center;
}

#nature-scan {
    background-color: black;
    position: absolute;
    width: 400px;
    bottom: 50px;
    text-align: center;
}

#tablet-wizard {
    background-color: black;
    position: absolute;
    width: 400px;
    bottom: 50px;
    text-align: center;
}

#sky-game {
    background-color: black;
    position: absolute;
    width: 400px;
    bottom: 50px;
    text-align: center;
}
@media only screen and (min-width: 701px) {
    .custom-menu-container {
        position: absolute;
        right: 5px;
        display: flex;
        flex-direction: row!important;
    }
}


.nav-link {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

@media only screen and (max-width: 700px) {
    .navbar-brand {
        width: 100%!important;
    }
    .custom-menu-container {
        width: 100%;
        flex-direction: row!important;
    }
}

 